# Firebase Configuration Template
 apiKey: "AIzaSyCw9gDIXIFWbwwi81_ZrDNrsZ8sy87__Sg",
    authDomain: "liferpg-web.firebaseapp.com",
    projectId: "liferpg-web",
    storageBucket: "liferpg-web.firebasestorage.app",
    messagingSenderId: "402208578628",
    appId: "1:402208578628:web:a0f0def0e7e937803ff011",
    measurementId: "G-DT1WT7K9H0"